.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(228, 228, 228);
  z-index: 100;
  /* z-index is added to put the header on top of anything. 
  Items with position relative or absolute or fixed take precedence
  over items with position static. To overcome this issue we 
  give z-index a  value greater than 0.
  usually items appear in the order of their position in the HTML. 
  The bottom ones appear on top of the ones in the above.*/
}

.left-section {
  display: flex;
  align-items: center;
}
.hamurger-menu {
  height: 25px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 37px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  padding-left: 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  /* ability to shrink the search bar, we make the width 0. */
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 38px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 20px;
}

.voice-search-button {
  height: 38px;
  width: 40px;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 20px;
}

.voice-search-icon {
  height: 20px;
  margin-top: 4px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
  /* flex shrink 0 helps to not shrink the flex box items when the screen size is reduced */
}

.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
